.menu-carousel {
	&::before {
		content: "";
		display: block;
		position: absolute;
	  	background-color: black;
		opacity: 0.4;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
	}
}
.btn.btn-orange {
	color: #FFF;
	background-color: $chocolateorange;
	border-color: $chocolateorange;
	&:hover {
		background-color: $chocolateorange-dark;
		border-color: $chocolateorange-dark;
	}
}
.btn.btn-olive {
	color: #FFF;
	background-color: $darkolivegreen;
	border-color: $darkolivegreen;
	&:hover {
		background-color: $darkolivegreen-dark;
		border-color: $darkolivegreen-dark;
	}
}
